body {
    font-family: 'Open Sans', sans-serif;
}

.bg-primary {
    background-color: #6A0DAD; /* Purple tone */
}

.text-primary {
    color: #6A0DAD; /* Purple tone */
}

.bg-secondary {
    background-color: #cf2373;
}

.text-secondary {
    color: #cf2373;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
